<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>New message</title>
</head>
<body>
    <form method="POST" action="/new" class="new-message">
        <h3>New message</h3>
        <div class="input">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Username..." name="messageUser">
        </div>
        <div class="input">
            <label for="message">Message</label>
            <input type="text" id="message" placeholder="Message..." name="messageText">
        </div>
        <button type="submit">Submit</button>
     </form>
</body>
</html>