<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>message: <%= message.id %></title>
</head>
<body>
    <div class="message-display">
        <h3>Username: <%= message.user %></h3>
        <p>Message: <%= message.text %></p>
        <p><%= message.added.toISOString().split('T')[0] %></p>
    </div>
</body>
</html>